* {
	font-family: 'Kavivanar', cursive;
}

body {
	background-color: #608b32;
}

p {
	background-color: black;
	color: white;
	text-align: center;
}

h1 {
	text-align: center;
	padding-top: 25%;
}

div.pc {
	zoom: 200%;
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
	padding: 2.5%;
}

div.gown {
	zoom: 50%;
	text-align: center;
}

a {
	color: #608b32;
}

div.teach {
	padding-top: 25%;
}
